/**
 * @Author: limin.zhang
 * @Email: limin.zhang@jdxiaokang.com
 * @Update: 2020-04-14 16:25:25
 * @Description: 用户协议
 */
.container
  color: #333
  font-size: 22px
  padding: 32px 0 60px
.title
  line-height: 1.5
  font-weight: 600
  margin: 24px 0
.content
  line-height: 1.5
  text-indent: 40px
