/**
 * @Author: chunxiao.zhang
 * @Email: chunxiao.zhang@jdxiaokang.com
 * @Update: 2020-02-25 15:53:05
 * @Description: 联系店主
 */
.container
  display flex
  align-items center
  justify-content center
  width 100%
  height 100%
  background rgba(255, 255, 255, 0.8)
  position fixed
  left 0
  width 100%
  height 100%
  text-align center
.box
  margin 0 10%
  width 100%
.info
  background white
  box-shadow 0px 4px 12px 0px rgba(201, 201, 201, 0.3)
  border-radius 5px
  padding 30px 30px 60px 30px
.qr_img
  width:100%
  height:auto
.nologin
  width: 100%
