/**
 * @Author: 福虎
 * @Email: Shenghu.tan@jdxiaokang.com
 * @Update: 2020-02-25 11:32:02
 * @Description: 订单列表
 */
.order_item_box
  padding:20px 30px
  border-radius: 10px

.list_title
  font-size: 28px
  display: flex
  align-items: center
  justify-content: space-between