/**
 * @Author: chunxiao.zhang
 * @Email: chunxiao.zhang@jdxiaokang.com
 * @Update: 2020-03-05 18:54:32
 * @Description: 邀请码
 */
.invite_box
  margin-left:83px
  margin-right:83px
  padding-top:60px
.invite_code
  height 28px
  font-size 28px
  color rgba(77, 77, 77, 1)
  line-height 28px
.info_box
  position relative
  font-size 28px
  color rgba(179, 179, 179, 1)
  line-height 28px
  padding-bottom 20px
  margin-bottom 60px
.info_box::after
  content ''
  display block
  position absolute
  left 0
  bottom 0
  right 0
  height 1PX
  background rgba(245, 243, 242, 1)
.info_insert_code
  width 50%
  font-size 32px
  font-weight 500
  color rgba(77, 77, 77, 1)
.btn_bind
  height 80px
  background rgba(249, 72, 46, 1)
  box-shadow 0px 8px 20px 0px rgba(249, 72, 46, 0.2)
  border-radius 40px
  line-height 80px
  text-align center
  font-size 32px
  font-weight 500
  color rgba(255, 255, 255, 1)
  display inline-block
  width 100%
  margin-top 144px
.invite
  display flex
  margin 60px 0 0 0
  align-items center
.invite_img
  width 88px
  height 88px
  border-radius 50%
  background-size 100%
  margin 0 32px 0 0
.invite_info
  font-size 28px
  color rgba(61, 61, 61, 1)
  line-height 40px
.invite_show_code
  height 38px
  background rgba(249, 72, 46, 0.1)
  border-radius 19px
  font-size 20px
  color rgba(249, 72, 46, 0.9)
  line-height 38px
  text-align center
  margin 10px 0 0 0
  padding 0 24px
.go
  font-size 32px
  color rgba(205, 205, 205, 1)
  line-height 32px
  margin 36px 0 0 0
  text-align center
.btn_bind1
  height 80px
  background rgba(249, 72, 46, 1)
  box-shadow 0px 8px 20px 0px rgba(249, 72, 46, 0.2)
  border-radius 40px
  line-height 80px
  text-align center
  font-size 32px
  font-weight 500
  color rgba(255, 255, 255, 1)
  display inline-block
  margin-top: 60px
  width: 600px
.info_insert
  font-size 32px
  font-weight 500
  color rgba(77, 77, 77, 1)
  margin 30px 0 0 0
.gray_btn
  background: #dddddd
  box-shadow: none
.pass_btn
  width: 100%
  text-align: center
  color: #aaa
  font-size: 30px
  margin-top: 20px