/**
 * @Author: chunxiao.zhang
 * @Email: chunxiao.zhang@jdxiaokang.com
 * @Update: 2020-02-28 14:19:17
 * @Description: 账户信息详情
 */
// body
//   background rgba(240, 240, 240, 1)
.container
  padding 0 24px 238px
  :global
    .at-tabs__item-underline
      background #333333
    .at-tabs__item
      color #CBCBCB
    .at-tabs__item--active
      color #333333
      font-weight 500
    .loaded, .loading, .pullDownBlock
      font-size 24px
      color #666
    .at-tabs-pane
      padding: 0 24px
.income
  background rgba(255, 255, 255, 1)
  border-radius 12px
  font-size 32px
  font-weight 600
  color rgba(51, 51, 51, 1)
  line-height 45px
  text-align center
  margin 24px 0 18px 0
  overflow hidden
  padding 0 0 36px 0
.income_name
  font-size 24px
  color rgba(102, 102, 102, 1)
  line-height 33px
  margin 36px 0 18px 0
.type_box
  display flex
  justify-content space-between
  font-size 24px
  color rgba(102, 102, 102, 1)
  line-height 33px
  margin 0 0 18px 0
  text-align center
.active
  background rgba(255, 255, 255, 1)
  border 1px solid rgba(255, 255, 255, 1) !important
.type
  width 342px
  position relative
  border 1px solid rgba(179, 179, 179, 1)
  border-radius: 8px
.type_name
  padding 24px 0 6px 0
.type_price
  font-size 28px
  color rgba(51, 51, 51, 1)
  line-height 40px
  padding-bottom 24px
.list_box
  // background rgba(255, 255, 255, 1)
.list
  position relative
  display flex
  justify-content space-between
  align-items center
  padding 24px
  font-size 24px
  color rgba(153, 153, 153, 1)
  line-height 33px
  .mes
    margin-bottom: 5px
    padding: 5px
    border-radius: 4px
    background: #efefef
    line-height: 28px
    font-size: 24px
    display: inline-block
.list_name
  padding 12px 0
  font-size 28px
  font-weight 500
  color rgba(51, 51, 51, 1)
.list_price
  font-size 24px
  font-weight 500
  color rgba(249, 72, 46, 1)
  line-height 28px
.go_btn
  margin 28px 59px 0 59px
  height 68px
  background rgba(249, 72, 46, 1)
  border-radius 34px
  line-height 68px
  text-align center
  font-size 28px
  color rgba(255, 255, 255, 1)
.icon
  color #fff
  font-size 16px
  position absolute
  left 50%
  transform translate(-50%, -40%)
.tab_box
  position fixed
  width 100%
  left 0
  top 0
.green
  color: #20AC30
.red
  color: rgba(249, 72, 46, 1)
.gray
  color: #999999
.yellow
  color: #ff9900

.scroll_content
  border-radius: 12px
  background: #ffffff
  width: calc(100% - 48px)!important
  position: fixed!important
  left 24px
.lj_scroll
  top: 445px
  height calc(100% - 495px)!important
.tx_scroll
  top: 450px
  height calc(100% - 470px)!important
.tx_1_scroll
  top: 395px
  height calc(100% - 445px)!important
.js_scroll
  top: 300px
  height calc(100% - 350px)!important
.back
  background: rgba(240, 240, 240, 1)
  position: fixed
  width: 100%
  top: 0
  left 0
  height 100%
  z-index -1

.grid_empty
  padding: 120px 0
  background: #ffffff
  border-radius: 18px