/**
 * @Author: cai.ping
 * @Email: cai.ping@jdxiaokang.com
 * @Update: 2020-02-24 15:57:31
 * @Description: 地址管理
 */
.content
  background #fff
  // min-height calc(100% - 90px)
  // position absolute
  // width 100%
  // left 0
  padding-bottom: 170px
  .item
    display flex
    align-items center
    margin 0 32px
    font-size 28px
    padding 32px 0
    border-bottom 1px solid rgba(240, 240, 240, 1)
    line-height 28px
    :global
      .iconfont
        font-size 30px
  .disable
    opacity 0.4
  .left
    width calc(100% - 40px)
    padding-right 40px
    .gray
      color #676767
      margin-top 18px
      display block
      line-height 40px
    .name_box
      display flex
      align-items center
      font-weight: bold
      .name
        display inline-block
      .tel
        margin-left 20px
      .tag
        font-size 20px
        line-height 20px
        background #F9482E
        padding 5px
        display inline-block
        color #fff
        margin-left 10px
.button_box
  position fixed
  bottom 0
  left 0
  z-index 99
  background #fff
  width 100%
  text-align center
  padding 0 0 60px 0
  .button
    font-size 32px
    background #F9482E
    color #ffffff
    line-height 32px
    padding 28px 247px
    border-radius 49px
    display inline-block

.add_btn
  width 176px
  height 72px
  border-radius 44px
  text-align center
  line-height 72px
  color #ffffff
  font-size 28px
  margin 64px auto 0
  background-color: rgba(249,72,46,1)


.back
  background: #ffffff
  position: fixed
  width: 100%
  height 100%
  top: 0
  left :0
  z-index: -1