page 
  background-color: rgba(247, 248, 250, 1)
.list_out
  :global
    .loaded, .loading, .pullDownBlock
        font-size: 24px
        color: #666
.container
  background-color: #fff
.item
  position: relative
  display: flex
  align-items: center
  padding:32px 0
  margin: 0 32px
  .img
    width: 88px
    height 88px
    display: block
    margin-bottom: 0
    margin-right: 30px
    border-radius: 50%
  .right
    flex: 1
    .rightTop
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      color: rgba(51, 51, 51, 1)
    .name
      font-size: 32px
      font-weight: 500
      line-height: 45px
    .bottom
      color: rgba(102, 102, 102, 1)
      font-size: 24px
      line-height: 29px
      margin-top: 16px



.empty_box
  padding-top:120px
  background-color: #fff
  .inviteBtn
    width: 176px
    height: 72px
    display: flex
    justify-content: center
    align-items: center
    margin: 110px auto 0
    background-color: rgba(249, 72, 46, 1)
    border-radius: 44px
    color: #ffffff
    font-size: 28px


