/**
 * @Author: chunxiao.zhang
 * @Email: chunxiao.zhang@jdxiaokang.com
 * @Update: 2020-02-25 19:09:14
 * @Description: 设置
 */
page 
  background: rgba(247,248,250,1)
.container
  padding 0 32px
  font-size 32px
  color rgba(52, 52, 52, 1)
  line-height 45px
  background #fff
.list
  position relative
  width 100%
  padding 32px 0
  display flex
  justify-content: space-between
  align-items center
  font-weight: 500
.icon
  font-size 16px
  color: rgba(51, 51, 51, 1)
.right_text
  color: #9A9A9A
  font-size: 32px
  font-weight: 400